{% block navbar %}
<link rel="stylesheet" href="/static/css/navbar.css">

<header>
    <a href="#" class="logo">Stay True<br><p>Tattoo Shop</p></a>


    <input type="checkbox" id="menu-bar">
    <label for="menu-bar">Menu</label>

    <nav class="navbar">
        <ul>
            <li><a href="#">Our Work</a></li>

            <li><a href="#">Pages ↓</a>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Programming</a></li>
                </ul>
            </li>


            <li><a href="#">Blog ↓</a>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Programming</a></li>
                </ul>
            </li>


            <li><a href="#">Shop</a></li>
            <li><a href="#">Elements</a></li>
        </ul>
    </nav>
</header>

{% endblock navbar %}